<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>



    {{>loginnav}}



    <br>



    <div clss="container-fluid navbar-style py-3">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <br>
                <center>
                    
                    <span class="x"><button type="button" class="btn btn-primary btn-lg"><a class="nav-link aaa" href="/blog/createblog">Create a new blog</a></button></span>
                    <span class="y"><button type="button" class="btn btn-secondary btn-lg"><a class="nav-link aaa" href="/blog/viewblog">View blogs</a></button></span>
                </center>
            </div>
        </div>
    </div>

    <br>
    {{>service}}
    <br>
    {{>maps}}


    <style>

    </style>

    <script>
        
    </script>



    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>