<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>

    {{>navbar}}

    <br>
    
    {{!-- main part-start-1 --}}
    <div clss="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{!--  --}}
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                        <h1 class="x">CODEFORCES</h1>
                        <h1 class="x">EXTENSION</h1>
                        <p><i>We are here to help you...</i></p>
                        {{!-- <button class="btn-style btn-primary" style="color:gray;">Read more</button> --}}
                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/cfmain.png" alt="CF" style="border-radius:40px;">
                        </figure>
                    </div>
                </div>
                {{!--  --}}
            </div>
        </div>
    </div>
    {{!-- main part-end-1 --}}
    <br>
    {{!-- main part-start-2 --}}
    <div clss="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{!--  --}}
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">ICPC 053-264-295</p>
                <br>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text;">
                        <figure style="padding-left:7%;">
                            <img src="images/th.jpeg" alt="BFF" style="border-radius:30px;width:600px;">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-center flex-column">
                        <h1 class="x">Blog</h1>
                        <h1 class="x">Platform</h1>
                        <p ><i>We are here to help you...</i></p>
                        {{!-- <button class="btn-style btn-primary" style="color:gray">Read more</button> --}}
                    </div>
                </div>
                {{!--  --}}
            </div>
        </div>
    </div>
    {{!-- main part-end-2 --}}


    <br>
    {{>service}}
    <br>
    {{>maps}}
    <style>
        .x{
            color:#29598c
        }
        /*chatgpt*/
        /* Custom CSS styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        /* Add your custom CSS styles here */
        .main-heading {
            color: #007bff;
            font-size: 32px;
            font-weight: bold;
        }

        .sub-heading {
            color: #555;
            font-size: 20px;
        }

        .hero-text {
            font-size: 24px;
            font-weight: bold;
        }

        .btn-style {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
        }
        /*chatgpt*/
    </style>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>