<div clss="container-fluid navbar-style py-3">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/" style="padding:5px; color:rgb(37, 37, 158)"><i class="fa-solid fa-chart-simple"></i>CoolForces</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto" style="margin-left: auto;">
                            <li class="nav-item">
                                <a class="nav-link aaa" href="/loginindex">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link aaa" href="/cfextension">CF Extension</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link aaa" href="/cfextension1">CF Extension1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link aaa" href="/blog">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link aaa" href="/delete">Delete Account</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>

    <style>
        .aaa:hover {
            color: rgb(20, 165, 20)
        }
        /*chatgpt*/
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }

        .container-fluid {
            max-width: 1200px;
            margin: 0 auto;
        }

        .navbar-style {
            background-color: #f8f9fa;
        }

        .navbar-brand {
            padding: 5px;
            color: rgb(37, 37, 158);
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2em;
        }

        .navbar-toggler {
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
        }

        .navbar-toggler-icon {
            width: 20px;
            height: 20px;
            background-color: #ccc;
            border-radius: 2px;
        }

        .navbar-nav {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .nav-item {
            display: inline-block;
            margin-right: 20px;
        }

        .nav-link {
            color: #333;
            text-decoration: none;
        }

        .nav-link:hover {
            color: rgb(20, 165, 20);

        }

       /*chatgpt*/
       .row{
        background-color:rgb(196, 220, 212)
    }
    </style>