<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div clss="container-fluid navbar-style py-3 xddd">
    <div class="row" xddd>
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg navbar-light bg-light xxxx">
                <a class="navbar-brand" href="/" style="padding:5px; color:rgb(37, 37, 158)"><i class="fa-solid fa-chart-simple"></i>CoolForces</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto" style="margin-left: auto;">
                        <li class="nav-item active">
                            <a class="nav-link aaa" href="/">Home<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aaa " href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aaa" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</div>

<style>
    /*chatgpt*/
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container-fluid {
        background-color: #f8f9fa;
        padding: 15px 0;
    }

    .navbar-brand {
        padding: 5px;
        color: rgb(37, 37, 158);
        font-weight: bold;
        font-size: 1.2em;
    }

    .navbar-toggler {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
        background-color: #ccc;
        border-radius: 2px;
    }

    .navbar-nav {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        display: inline-block;
        margin-right: 15px;
    }

    .nav-link {
        //color: #333;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .nav-link:hover {
        color: rgb(20, 165, 20);
        background-color: #f1f1f1;
    }

    .row{
        background-color:rgb(196, 220, 212)
    }

    .xddd{
        background-color: aqua;
    }
    
    /*chatgpt*/
</style>