<div clss="container-fluid mt-5 about-style">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services </h1>
            <p class="text-center sub-heading">Gain Knowledge from Legends of the game...</p>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="out-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Settings</h4>
                            <p>Loading...</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="out-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Speedup</h4>
                            <p>Loading...</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="out-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Privacy</h4>
                            <p>Loading...</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="out-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Backups</h4>
                            <p>Loading...</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="out-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Security</h4>
                            <p>Loading...</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="out-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Database</h4>
                            <p>Loading...</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /*chatgpt*/
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
    }

    .container-fluid {
        margin-top: 50px;
    }

    .main-heading {
        font-size: 36px;
        font-weight: bold;
        color: #333;
    }

    .sub-heading {
        font-size: 20px;
        color: #777;
        margin-bottom: 60px;
    }

    .box {
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;
    }

    .box:hover {
        transform: translateY(-5px);
    }

    .box .icon img {
        max-width: 80px;
        margin-bottom: 30px;
    }

    .box h4 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    .box p {
        font-size: 16px;
        color: #777;
        margin-bottom: 0;
    }

    .row {
        justify-content: center;
    }

    /*chatgpt*/
</style>